:root {
  --color: #009dff;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  justify-content: center;
  align-items: center;
}
.checkout-panel {
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 566px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.panel-body {
  padding: 45px 80px 0;
  flex: 1;
}

.title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  color: #2e2e2e;
}
.progress-bar {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.step {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #efefef;
}

.step:after {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 22px;
  width: 225px;
  height: 6px;
  content: '';
  background-color: #efefef;
}

.step:before {
  color: #2e2e2e;
  position: absolute;
  top: 40px;
}

.step:last-child:after {
  content: none;
}

.step.active {
  background-color: var(--color);
}
.step.active:after {
  background-color: var(--color);
}
.step.active:before {
  color: var(--color);
}
.step.active + .step {
  background-color: var(--color);
}
.step.active + .step:before {
  color: var(--color);
}

.step.failed {
  background-color: #FF0000;
}
.step.failed:after {
  background-color: #FF0000;
}
.step.failed:before {
  color: #FF0000;
}
.step.failed + .step {
  background-color: #FF0000;
}
.step.failed + .step:before {
  color: #FF0000;
}

.step:nth-child(1):before {
  content: 'Carrinho';
}
.step:nth-child(2):before {
  right: -40px;
  content: 'Confirmação';
}
.step:nth-child(3):before {
  right: -30px;
  content: 'Pagamento';
}
.step:nth-child(4):before {
  right: 0;
  content: 'Finalização';
}
.payment-method {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}

.method {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  justify-content: center;
  align-items: center;
}

.card-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-logos img {
  width: 100%;
}

#boleto-logo {
  width: auto;
  height: 30px;
  object-position: center;
}

.dd{
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.dd img{
  max-width: 35%;
  max-height: 35%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.erro{
  display: flex;
  margin-bottom: 75px;
  justify-content: space-between;
}
.erro img{
  max-width: 20%;
  max-height: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.radio-input {
  margin-top: 20px;
}

input[type='radio'] {
  display: inline-block;
}
.input-fields {
  display: flex;
  justify-content: space-between;
}

.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #b4b4b4;
}

.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: 0.5;
  color: #2e2e2e;
}

div[class*='column'] {
  width: 382px;
}

input[type='text'],
input[type='password'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, 0.8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='text']:focus,
input[type='password']:focus {
  border-color: var(--color);
}

.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.small-inputs div {
  width: 182px;
}
.panel-footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 80px;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 16px;
  width: 163px;
  height: 48px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
}

.back-btn {
  color: #fff;
  background: var(--color);
}

.next-btn {
  color: #fff;
  background: var(--color);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(1.1);
}
.blue-border {
  border: 1px solid rgb(110, 178, 251);
}
.warning {
  border-color: var(--color);
}
